<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property='og:url' content='http://try.myklovr.com/sweepstakes' />
        <meta property="og:title" content="myKlovr is giving away 2 pairs of Samsung VR Headsets" />
        <meta property="og:description" content="Enter now for a chance to win the perfect gift for yourself or your family. We're all about looking towards the future - and your future gets way more real when you use myKlovr. " />
        <meta property="og:image" content="http://try.myklovr.com/img/vrad.png" />
         <meta property="fb:app_id" content="156802384772432" />
         
         <link rel="icon" 
      type="image/png" 
      href="/img/logotiny.png">
               <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:400,900|Josefin+Slab:400,600,700" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="css/main.css">
       <script src="js/modernizr.js"></script>
        
        
<!--         <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0058/5622.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script> -->

    </head>
    
    <body>

<script>


  window.fbAsyncInit = function() {
  FB.init({
    //REAL LIVE//
    // appId      : '156802384772432',
    //DEPLOY LIVE//
    appId      : '174978259621511',

    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  };


  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));






</script>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    
        <div class="container" id='container1'>
      <div class="row" id='toprow'>
        <div class='col-sm-2' id='logodiv'>
          <div class='box'>
            <img src='/img/logo1.png' id='logo' />
          </div>
        </div>
        <div class='col-sm-9 col-sm-offset-1' id='line1div'>
          <div class="box">
            <h2 id='line1'>Enter for a chance to win a set of</h2>
            <h1 id='line2'> Samsung VR Goggles</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
            <img src='/img/vrgogs_transparent.png' id='vrGogs' />
        </div>
        <div class="col-sm-5" id='signupDiv'>
          <p id='line3'>myKlōvr helps you see and achieve your future. That's why we're giving away two pairs of Samsung Virtual Reality Headsets to two lucky winners - because your future is right in front of you.
        </p>
           <form action="" data-toggle='validator' id='signupForm' role='form'>
                <div class="form-group" id="signupGroup">
                      
                      <img src="/img/facebook.png" id='fbButton' onclick="" />
                      <span id='signupSpan'>or</span>
                      <input type="text" placeholder="Email" name='email' class="form-control" id='signupField' required>
                         
                </div>
          
                <div id='signupCheckboxDiv'>
                    <span id='signupCheckbox'><input type="checkbox" name="checkbox" value="check" id="agree" />
                    </span>
                    <span id='signupCheckboxText'>I have read and agree to the <a href="#" id='showTerms'>Terms and Conditions</a> and 
                    <a href="#" id='showPrivacy'>Privacy Policy</a><br>
                    </span>
                </div>
                <div id='signupNotice'>
                    <p>We will never, ever share your information with anyone without your permission.
                    </p>
                </div>
                <div id="signupButtonDiv">
                    <button type="submit" name="submit" value="submit" class="btn btn-xl btn-success signupButton">Submit</button>
                </div>            
          </form>
        



        </div>
      </div>


        <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body" id="termsBody">
                  <h1 id='termsTitle'>Sweepstakes Rules</h1>
                   <div class='well'>
                      

                        <p>NO PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT
                        INCREASE YOUR CHANCES OF WINNING. ALL FEDERAL, STATE, LOCAL, AND
                        MUNICIPAL LAWS AND REGULATIONS APPLY. VOID WHERE PROHIBITED.</p>






                        <h3>Online</h3> 

                        <p>Online: This method of entry will be available by visiting our website
                        (www.myklovr.com) and following the directions provided to fill out the entry
                        information, and submit.</p>

                        <h4>1. Eligibility</h4>
                        <p>
                        Virtual Reality Sweeps (the "Sweepstakes") is open to legal residents of the fifty (50)
                        United States and the District of Columbia who are at least eighteen (18) years old at
                        the time of entry. Employees of Student Global LLC and other companies associated
                        with the promotion of the Sweepstakes, and their respective parents, subsidiaries,
                        affiliates and advertising and promotion agencies as well as the immediate family
                        (spouse, parents, siblings, and children) and household members of each such
                        employee are not eligible. The Sweepstakes is subject to federal, state, and local laws
                        and regulations.
                        </p>
                        <h4>2. Sponsor</h4>
                        <p>
                        The Sweepstakes is sponsored by Student Global LLC, located at 1350 Avenue of
                        the Americas, New York, New York 10019.
                        </p>
                        <h4>3. Agreement to Official Rules</h4>
                        <p>
                        Participation in the Sweepstakes constitutes entrant's full and unconditional agreement
                        to and acceptance of these Official Rules and the decisions of the Sponsor, which are
                        final and binding. Winning a prize is contingent upon being compliant with these Official
                        Rules and fulfilling all other requirements set forth herein.
                        </p>
                        <h4>4. Sweepstakes Period</h4>
                        <p>
                        The Sweepstakes begins on November 15, 2016 at 9pm eastern and ends on
                        December 26, 2016 at 9pm eastern (the "Sweepstakes Period"). Entries that are
                        submitted before or after the Sweepstakes Period will be disqualified. Submissions will
                        be accepted for the duration of the Sweepstakes using any of the following methods:
                        </p>
                        <h4>5. How to Enter</h4>
                        <p>
                        Limit one (1) entry per person, per email address, and per household for the duration
                        of the Sweepstakes Period, regardless of method of entry. Entries received from any
                        person, e-mail address, or household in excess of the stated limitation will be void. All
                        entries become the property of Sponsor and will not be acknowledged or returned.
                        </p>
                        <h4>6. PrizeDrawing</h4>
                        <p>
                        On or about December 27, 2016, the Sponsor will select potential winners in a
                        random drawing from among all eligible entries received. The odds of being selected
                        depend on the number of entries received. The Sponsor will attempt to notify the
                        potential winner via telephone or email on or about December 28, 2016. If the
                        potential winner cannot be contacted within five (5) days after the date of the first
                        attempt to contact him/her, the Sponsor may select an alternate potential winner in
                        his/her place at random from the remaining non-winning, eligible entries.
                        </p>
                        <h4>7. Winner Notification</h4>
                        <p>
                        The potential winners will be notified by email, mail or phone. Each potential Grand
                        and First Prize winner (parent/legal guardian if a minor in his/her state of residence) will
                        be required to complete, electronically sign and submit a Declaration of Compliance
                        within five (5) days of the date notice or attempted notice is sent, in order to claim
                        his/her prize. If a potential winner cannot be contacted, or fails to submit the
                        Declaration of Compliance within the required time period (if applicable), or prize is
                        returned as undeliverable, potential winner forfeits prize. If the potential winner is at
                        least 18 but still considered a minor in his/her jurisdiction of residence, Sponsor
                        reserves the right to award the prize in the name of his/her parent or legal guardian,
                        who will be required to sign the Declaration of Compliance on the potential winners
                        behalf and fulfill any other requirements imposed on winner set forth herein. Potential
                        winners must continue to comply with all terms and conditions of these Official Rules,
                        and winning is contingent upon fulfilling all requirements. In the event that a potential
                        winner is disqualified for any reason, Sponsor will award the applicable prize to an
                        alternate winner by random drawing from among all remaining eligible entries. Only
                        three (3) alternate drawings will be held, after which the prize will remain un-awarded.
                        Prizes will be fulfilled approximately 8-10 weeks after the conclusion of the
                        Sweepstakes.
                       </p>
                        <h4>8. Prizes</h4>
                        <p>
                        (2) Samsung Gear VR
                       </p>
                        <h4>9. General Conditions</h4>
                       <p>
                        In the event that the operation, security, or administration of the Sweepstakes is
                        impaired in any way for any reason, including, but not limited to fraud, virus, bug,
                        worm, unauthorized human intervention or other technical problem, or in the event the
                        Sweepstakes is unable to run as planned for any other reason, as determined by
                        Sponsor in its sole discretion, the Sponsor may, in its sole discretion, either (a)
                        suspend the Sweepstakes to address the impairment and then resume the
                        Sweepstakes in a manner that best conforms to the spirit of these Official Rules or (
                        terminate the Sweepstakes and, in the event of termination, award the prize at random
                        from among the eligible, non-suspect entries received up to the time of the impairment.
                        The Sponsor reserves the right in its sole discretion to disqualify any individual it finds
                        to be tampering with the entry process or the operation of the Sweepstakes or to be
                        acting in violation of these Official Rules or in an unsportsmanlike or disruptive manner.
                        Any attempt by any person to damage the website or undermine the legitimate
                        operation of the Sweepstakes may be a violation of criminal and civil law, and, should
                        such an attempt be made, the Sponsor reserves the right to seek damages (including
                        attorney's fees) and any other remedies from any such person to the fullest extent
                        permitted by law. Failure by the Sponsor to enforce any provision of these Official
                        Rules shall not constitute a waiver of that provision.
                       </p>
                        <h4>10. Release and Limitations of Liability</h4>
                       <p>
                        By participating in the Sweepstakes, entrants agree to release and hold harmless the
                        Sponsor, and each of their respective parents, subsidiaries, affiliates, advertising and
                        promotion agencies, other companies associated with the Sweepstakes, and each of
                        their respective officers, directors, employees, shareholders, representatives, and
                        agents (the "Released Parties)" from and against any claim or cause of action arising
                        out of participation in the Sweepstakes or receipt or use of the prize (including any
                        travel or activity related thereto), including, but not limited to: (a) any technical errors
                        associated with the Sweepstakes, including lost, interrupted or unavailable Internet
                        Service Provider (ISP), network, server, wireless service provider, or other
                        connections, availability or accessibility or miscommunications or failed computer,
                        satellite, telephone, cellular tower or cable transmissions, lines, or technical failure or
                        jumbled, scrambled, delayed, or misdirected transmissions or computer hardware or
                        software malfunctions, failures or difficulties; (b) unauthorized human intervention in the
                        Sweepstakes; (c) mechanical, network, electronic, computer, human, printing or
                        typographical errors; (d)application downloads, (e) any other errors or problems in
                        connection with the Sweepstakes, including, without limitation, errors that may occur in
                        the administration of the Sweepstakes, the announcement of the winner, the
                        cancellation or postponement of the event and/or the flyover, if applicable, the
                        incorrect downloading of the application, the processing of entries application
                        downloads or in any Sweepstakes-related materials; or (f) injury, death, losses or
                        damages of any kind, to persons or property which may be caused, directly or
                        indirectly, in whole or in part, from entrants participation in the Sweepstakes or
                        acceptance, receipt or misuse of the prize (including any travel or activity related
                        thereto). Entrant further agrees that in any cause of action, the Released Parties liability
                        will be limited to the cost of entering and participating in the Sweepstakes, and in no
                        event shall the entrant be entitled to receive attorney's fees. Released Parties are also
                        not responsible for any incorrect or inaccurate information, whether caused by site
                        users, tampering, hacking, or by any equipment or programming associated with or
                        utilized in the Sweepstakes. Entrant waives the right to claim any damages whatsoever,
                        including, but not limited to, punitive, consequential, direct, or indirect damages.
                       </p>
                        <h4>11. Disputes</h4>
                        <p>
                        Except where prohibited, each entrant agrees that any and all disputes, claims and
                        causes of action arising out of, or connected with, the Sweepstakes or any prize
                        awarded shall be resolved individually, without resort to any form of class action, and
                        exclusively by the appropriate court located in New York. All issues and questions
                        concerning the construction, validity, interpretation and enforceability of these Official
                        Rules, entrants rights and obligations, or the rights and obligations of the Sponsor in
                        connection with the Sweepstakes, shall be governed by, and construed in accordance
                        with, the laws of New York, without giving effect to any choice of law or conflict of
                        law rules, which would cause the application of the laws of any jurisdiction other than
                        New York.
                       </p>
                        <h4>12. Privacy</h4>
                       <p>
                        Information collected from entrants is subject to Sponsor's privacy policy.
                       </p>
                        <h4>3. Winner List</h4>
                       <p>
                        To request the name of the winner send a self-addressed, stamped envelope to Student Global LLC,
                        1350 Avenue of the Americas, New York, New York 10019. Winner List requests will only be accepted after the promotion
                        end date (listed above). For the Winner List, you can also send an email. 
                        </p>
                   </div>
                    <div id="newModalButtonsCont">
                        <button type="button" class="btn  btn-xl signupButton" id='termsButton' data-dismiss="modal">Got it!</button>
                    </div>
            </div>
          </div>
        </div>
      </div>

        <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body" id="termsBody">
                  <h1 id='termsTitle'>Privacy Policy</h1>
                   <div class='well'>



                          <h4>1. Introduction</h4>

                           
                          What This Means

                          <p>We are an online social media platform that enables you to share information about yourself with
                            
                            others, including schools and employers.</p>

                          <p>Student Global LLC™ is an online social media platform that enables students and professionals
                            
                            to showcase their accomplishments in areas such as science, mathematics, and technology and to
                            
                            connect students and professionals with colleges, universities, and potential employers. 
                            
                            Collecting your information and sharing it with others is inherent in the Services.  By using the
                            
                            Services, you agree to have your information collected, stored, and shared as described in this
                            
                            Privacy Policy (“Policy”).  If you do not want your information to be collected, used, and shared
                            
                            as described by this Policy, then do not use the Services, do not create an account, and do not
                            
                            post any content.  If you have already created an account, and you would like to terminate it,
                            
                            please contact Student Global LLC.</p>

                          What This Means

                          <p>You control the amount of information you share with us.  Do not post any information that you
                            
                            do not want to be publically available.</p>

                          <p>The Services are intended to allow you to share your information and allow others to find you. 
                            
                            By default, your account is set up to share the information we find most students want to share.  
                            
                            This information can be accessed by education institutions, businesses, companies, mentors,
                            
                            individuals or organizations who post to the Services, and individuals you allow to view your
                            
                            student profile (“Users”).  Certain aspects of the Services, such as featuring top students on our
                            
                            homepage, will publish your information to the general public and may appear in public search
                            
                            engines.  If you do not want your information to be publicly available, then do not post it on your
                            
                            account. </p>

                          <p>Student Global LLC is committed to protecting your Privacy, and strives to provide a safe,
                            
                            secure user experience. This Policy describes how we collect and use online data, including
                            
                            Student Global LLC’s compliance with the Children’s Online Privacy Protection Act
                            
                            (“COPPA”) and (“FERPA”) guidelines found here
                            
                            http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html</p>

                          <p>While Student Global LLC takes steps to safeguard your information, Student Global LLC has
                            
                            no control over how third parties may use the information you share while using our Services. 
                            
                            Student Global LLC also has no control over public search engines and how your information
                            
                            may appear on these sites. </p>
                          <p>Student Global LLC may update this Policy at any time without notice to you.  The most recent
                            
                            version of this Policy will be posted here, so we encourage you to check back often. </p>
                          <h4>2. What Information We Collect</h4>

                          What This Means

                          <p>We collect biographical and other information you provide while using the Services as well as
                            
                            information about your computer or mobile device.</p>
                          <p>Student Global LLC collects information about you when you use the Services. For example,
                            
                            depending on the services you use, we collect:</p>
                          <p>Your name, age, gender, race, ethnicity, or other personally identifiable information you choose
                            
                            to provide
                            
                            Contact information such as address, email address, telephone number
                            
                            Credit card number and billing information (for services requiring payment)
                            
                            Information about your education, occupation, skills and experience, awards, memberships and
                            
                            affiliations, activities and interests
                            
                            Information imported by you or your connections from Third Party Services
                            
                            Information about third parties, such as references or contacts, that you provide to us if you have
                            
                            their express written consent to do so
                            
                            A photo, video, or audio file containing your image or voice, if you choose to provide it
                            
                            A persistent identifier (such as a “cookie,” device or processor serial number, or an IP address)
                            
                            Information about how you use the Services
                            
                            Information about your computer or mobile device, including your physical location, browser
                            
                            and operating system type, and referring URLs.</p>
                          <h4>3. How We Collect Your Information</h4>

                          What This Means

                          <p>Student Global LLC collects information from you when you register for the Services and when
                            
                            you update your information such as your profile.</p>

                          <h5>3.1. Registration.</h5>  <p>To register for the Services, you must provide Student Global LLC certain
                            
                            information such as your name, email address, country, and password. We may also request
                            
                            other information from you (e.g., gender, location, etc.) so that we can provide better, more
                            
                            customized services. You acknowledge that this information is personal to you, and by creating
                            
                            an account, you allow others to identify you and to allow Student Global LLC to use your
                            
                            information in accordance with our Terms of Use.</p>
                          <h5>3.2. Profile Information.</h5>  <p>Once you register, you may provide additional information to your
                            
                            Student Global LLC Profile such as your skills, professional experiences, and educational
                            
                            background. The amount of information you decide to share is entirely up to you.</p>
                          <h5>3.3. Customer Service.</h5>  <p>We collect information about you when you interact with Student Global
                            
                            LLC’s Customer Service website in an effort to respond to your inquiries. </p>
                          <p>
                            <h5>3.4. Cookies, Advertising, and Web Beacons.</h5>  Student Global LLC collects information about
                            
                            you when you use the Services. For example, Student Global LLC knows when you click on ads,
                            
                            upload your address book, join groups, participate in polls, install a mobile application, share
                            
                            articles, or use your account to log in to a third party website or application.  If you visit a third
                            
                            party site that embeds Student Global LLC professional plugins, like “Share on Student Global
                            
                            LLC,” while you are logged into your account, we will collect information about the pages you
                            
                            loaded in your web browser.</p>

                          What This Means

                          <p>Student Global LLC also uses tools such as cookies to automatically collect information about
                            
                            you while you use the Services. </p>
                          <p>Like most websites, Student Global LLC uses cookies and web log files to track this information,
                            
                            improve the quality of the Services, customize your experience, and to deliver advertising.  A
                            
                            cookie is a tiny data file that resides on your computer, mobile phone, or other device, and allows
                            
                            Student Global LLC to recognize you while using the Services. You can remove or block
                            
                            cookies using the settings in your browser, but in some cases doing so may impact your ability to
                            
                            use the Services. One type of cookie, known as a “persistent” cookie, is set once you’ve logged
                            
                            in to your Student Global LLC account. The next time you visit the Services, the persistent
                            
                            cookie will allow Student Global LLC to recognize you so you will not need to log in before
                            
                            using the services again. However, in order to access or change any of your private information
                            
                            (like a credit card number) or to send a message to another User, you must log in securely again
                            
                            with your password even if your computer contains your persistent cookie. Another type of
                            
                            cookie, called a “session” cookie, is used to identify a particular visit to the Services. Session
                            
                            cookies expire after a short time or when you close your web browser. Other technology like
                            
                            Macromedia’s flash can be used to place the functional equivalent of a cookie on your computer.
                            
                            You can control flash “local stored objects” or “flash cookies” using the Macromedia Website
                            
                            Privacy Settings Panel at www.macromedia.com. Student Global LLC may use cookie-
                            
                            equivalent technology for the limited purpose of enhancing the security of the Services.
                            
                            In the course of serving advertisements or optimizing the Services, Student Global LLC may
                            
                            allow authorized third parties to place or recognize a unique cookie on your browser. Any
                            
                            information provided to third parties through cookies will not be personally identifiable but may
                            
                            provide general segment information (e.g., your industry or geography, career field, or
                            
                            information about your professional or educational background). Most browsers are initially set
                            
                            up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a
                            
                            cookie is being sent. Student Global LLC does not store unencrypted personally identifiable
                            
                            information in the cookies.</p>
                          <p>To support the Services we provide at no cost, as well as to provide a more relevant and useful
                            
                            experience, Student Global LLC uses ad technology such as web beacons, pixels, anonymous ad
                            
                            network tags, ad networks and cookies.  We use these tools to collect anonymized data,
                            
                            aggregated auditing, research and reporting for advertisers. Because your web browser requests
                            
                            advertisements and web beacons directly from ad network servers, these networks can view, edit
                            
                            or set their own cookies, just as if you had requested a web page from their site.  You may opt-
                            
                            out of ads served to you off Student Global LLC, by turning off “Advertising Preferences.”</p>

                          <h4>4. How We Use &amp; Share Your Information</h4>

                          What This Means

                          <p>The goal of Student Global LLC is to connect students and professionals with colleges,
                            
                            universities and employers.  We share your information with these entities and we do not control
                            
                            their use of your information. </p>

                          <p>Sharing your information is inherent in Student Global LLC’s services.  Student Global LLC will
                            
                            share your information with employers, colleges, and universities for various recruitment
                            
                            activities. Student Global LLC may also publish your information on our homepage or through
                            
                            other features on our website, which could make your information visible to the general public. 
                            
                            Student Global LLC does not control how third parties use your data.</p>

                          <p>By registering an account, you agree to Student Global LLC using your information in the
                            
                            following ways:</p>
                          <p>
                              to create a profile for you based on information that you have provided or imported from other
                              
                              sites, applications, or third parties;
                            
                            to share your information with other Users;
                            to feature your information on our homepage or through other aspects of our website which are
                              
                              visible to the general public;
                            to provide personalized, targeted, or location-based content, services, and advertising from
                            
                            Student Global LLC and third parties;
                            
                            to allow you to contact other Users or to invite others to join or create an account;
                            
                            to allow you to import information about yourself or your contacts from other sites or
                            
                            applications or to export your information to other sites or applications;
                            
                            to make purchases;
                            
                            to contact you about feature updates, informational and service-related communications,
                            
                            including important security updates;
                            
                            to provide you with additional communications, information, and promotions such as newsletters
                            
                            and career advice;
                            
                            to inform you of other products or services available from Student Global LLC or its affiliates;
                            
                            to enable you to contact Student Global LLC and for Student Global LLC to contact you to
                            
                            conduct surveys, promotions and contests, and to publish the results thereof;
                            
                            to help your friends, contacts, schools and potential employers find your profile and connect with
                            
                            you;
                            
                            to provide information about you and your potential interest in job postings to employer
                            
                            customers;
                            
                            to provide products and services to school and employer customers to complete the recruitment
                            
                            and hiring process;
                            
                            to provide products and services that enable you and other Users to network, post information on
                            
                            bulletin boards, and view and compare profiles;
                            
                            to generate internal reports about the use of the Services;
                            
                            to allow you to share jobs and profile information with your connections;
                            
                            to give search engines access to public information;
                            
                            to inform others, such as standardized testing agencies, that you have created a Student Global
                            
                            LLC profile;
                            
                            to share your information with third parties to verify the accuracy of information included in
                            
                            your profile;
                            
                            to detect, investigate and prevent activities that may violate our Terms of Use, this Policy or
                            
                            applicable law; and
                            
                            to provide recommendations to you concerning groups or organizations that may be of potential
                            
                            interest to you.</p>

                          <p>Student Global LLC may provide aggregated anonymous data about the usage of the Services to
                            
                            third parties for purposes that we deem, in our sole discretion, to be appropriate, including to
                            
                            prospective advertisers on Student Global LLC.</p>

                          <p>Sharing content and using third party integrations may result in your information being displayed
                            
                            outside of Student Global LLC. We may modify our Services to enhance its sharing capabilities,
                            
                            which could include integration with social media platforms.  Such integration may enable you
                            
                            to share your information on multiple online platforms.  Whether or not your information
                            
                            becomes publically available will depend on your privacy settings for these other platforms.  So,
                            
                            we suggest you check your privacy settings before posting any information to those other
                            
                            platforms. </p>

                          <p>Student Global LLC takes your privacy very seriously.  Student Global LLC does not sell, rent,
                            
                            or otherwise share your personally identifiable information with third parties, except as described
                            
                            in this policy.  </p>

                          <p>Student Global LLC will not share information that has not been published on your profile or
                            
                            generated by using the Services (Groups, Answers, Company Pages, etc.) without your consent. 
                            
                            However, your information will be shared as reasonably necessary to: (1) comply with legal
                            
                            process, including, but not limited to, civil and criminal subpoenas, court orders or other
                            
                            compulsory disclosures; (2) enforce this Policy and our Terms of Use; (3) respond to claims of a
                            
                            violation of the rights of third parties, whether or not the third party is a User, individual, or
                            
                            government agency; (4) respond to customer service inquiries; or (5) protect your rights,
                            
                            property, or personal safety or to protect the rights, property, or personal safety of Student Global
                            
                            LLC, other Users or the public.</p>

                          <h4>5. How We Store Information</h4>

                          What This Means

                          <p>You should carefully consider what information you share with other Users.  If you do not want
                            
                            your information seen by others, you should not post it.  Student Global LLC cannot guarantee
                            
                            the complete and comprehensive deletion of your information.  </p>

                          <p>Student Global LLC will retain all the information gathered about you in an effort to make repeat
                            
                            use of our Services more efficient, practical and relevant. For some features, you can opt out of
                            
                            this personalization.  You may edit or delete content, or your entire profile, at any time by
                            
                            logging into your account and using the buttons located within each section of your profile. 
                            
                            Student Global LLC does not guarantee that any edits or deletions will result in the complete and
                            
                            comprehensive removal of the content and your information may still appear in public search
                            
                            engines.  Student Global LLC cannot guarantee that messages you send to others or content
                            
                            shared by you that have been copied by other Users will be deleted.  If you do not want content
                            
                            seen by other Student Global LLC Users, or the general public, you should not post it. 
                            
                            In limited circumstances, Student Global LLC may deny or limit your ability to edit or delete
                            
                            content if it would violate another person’s rights and/or as otherwise permitted by applicable
                            
                            law.</p>

                          What This Means

                          <p>If you close your account, your content will be deleted. Student Global LLC will retain an
                            
                            archival copy for our own use.</p>

                          <p>Student Global LLC will retain your information for as long as your account is active, as needed
                            
                            to provide you the Services, and to comply with our legal obligations, resolve disputes, and
                            
                            enforce our Terms of Use.  We de-identify our professional plugin impression data after 12
                            
                            months.  After you close your account, Student Global LLC will have no obligation to retain any
                            
                            of your data.  If you have not logged into your account for an extended period of time, your
                            
                            profile may be made unsearchable or tagged as expired and scheduled for deletion. The current
                            
                            expiration period is approximately 36 months.  </p>

                          <p>If you choose to close your account, Student Global LLC will send you an email to confirm that
                            
                            your personal information has been deleted (except for an archival copy which is not accessible
                            
                            by you or third parties on the Internet). The archival copy is retained only for as long as needed
                            
                            for audit and record purposes and may include additional information related to your activity. 
                            
                            Student Global LLC may also choose to retain certain information for business purposes, such as
                            
                            the analysis of aggregated non-personally identifiable data or to prevent fraud or abuse of the
                            
                            Services. </p>

                          <p>If Student Global LLC learns that an account holder is deceased, their account may be
                            
                            memorialized and functionality restricted.  Accounts may also be closed upon receipt of proper
                            
                            legal notice or upon request by next of kin. </p>

                          <h4>6. How We Protect Your Information</h4>

                          What This Means

                          <p>We use standard industry protocols and technology to protect your information, but we cannot
                            
                            make the internet 100% secure.</p>

                          <p>All information you provide will be protected with industry standard protocols and technology. 
                            
                            In addition, SSL encryption is used secure sensitive data when it is exchanged between your web
                            
                            browser and the Services and access to your account is password-protected.  Student Global LLC
                            
                            also regularly audits its system for possible vulnerabilities and attacks and uses a tier-one-
                            
                            secured-access data center.  </p>

                          <p>Despite our best efforts, Student Global LLC cannot make the internet 100% secure and we do
                            
                            not make any warranties as to the security of your personal information or the content you
                            
                            generate using the Services.  Please note that emails and other means of communication are not
                            
                            encrypted and Student Global LLC strongly advises you to not communicate any confidential or
                            
                            sensitive information through these means. </p>

                          <h4>7. Compliance with the Children’s Online Privacy Protection Act (“COPPA”) and
                            
                            (“SERPA")</h4>

                          What This Means
                          <p>
                            We comply with COPPA and SERPA.  If you have a Child who wants to use our Services,
                            
                            please review these terms.  </p>
                          <p>
                            Student Global LLC complies with COPPA.  As a parent, you have the right to control what
                            
                            personal information is collected from your children who are under the age of thirteen (a
                            
                            “Child”). </p>

                          <p>While you use the Services, Student Global LLC may collect, use, and/or disclose the
                            
                            information outlined in Section 2 of this Policy.  We may also collect other information about a
                            
                            Child or parent and combine it with this information. </p>

                          <p>Student Global LLC will not require a Child to disclose more information than is reasonably
                            
                            necessary.  However, the collection of personal information, and the disclosure of that
                            
                            information to others, is inherent to the Services. </p>

                          <p>By consenting to the collection of personal information by Student Global LLC, you also are
                            
                            consenting to the disclosure of this information to third parties, including the general public.  If
                            
                            you do not consent to the collection, use and/or disclosure of your Child’s personal information,
                            
                            then do not use the Services. </p>
                          <p>Student Global LLC will obtain your verifiable consent in accordance with Federal Trade
                            
                            Commission guidelines before collecting any personal information. </p>

                          <p>As a parent, you have the right to review your Child’s personal information, direct us to delete it,
                            
                            and refuse to allow us to collect any additional personal information.  If you refuse or revoke
                            
                            your consent, your Child’s account will be deleted and they will not be able to access our
                            
                            services. </p>

                          <p>
                            If you would like to review or delete your Child’s personal information, or if you believe consent
                            
                            has been given without your authorization, simply contact us using the information below.</p>

                          <h4>8. How To Contact Us</h4>

                          What This Means

                          <p>You may contact Student Global LLC either via email or U.S. mail at these addresses. 
                            
                            Questions or concerns about this Policy can be directed to us via:
                            
                            myKlovr.com
                            
                            A Student Global LLC, Media Channel
                            
                            1350 Avenue of the Americas, 2nd Fl
                            
                            New York, NY, 10019</p>
                      
                   </div>
                    <div id="newModalButtonsCont">
                        <button type="button" class="btn  btn-xl signupButton" id='termsButton' data-dismiss="modal">Got it!</button>
                    </div>
            </div>
          </div>
        </div>
      </div>

       <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content" id='successModalContentDiv'>
              <div class="modal-body" id="newSuccessBody">
                    <h1 class='display-4' id='successModalTitle'>This contest is over :(</h1>
                    <h2 class='successModalSub'>But we'll be giving away more stuff soon! Make sure you hear about it: like our page on Facebook to stay in touch and find out more about myKlõvr!</h2>
                    <div class="fb-page" 
                          data-href="https://www.facebook.com/myklovr"
                          data-width="380" 
                          data-hide-cover="false"
                          data-show-facepile="false" 
                          data-show-posts="false"></div>



<!-- 
                  <div id='shareTextCont'><h2 class='successModalSub'>Also, feel free to share this contest</h2> 


                    <div id=sharebox>
                        <img src="/img/facebook.png" id='share' />
                           <a href="https://twitter.com/share?url=http://www.myklovr.com&amp;text=Checkout%20your%20future%20with%20@myKlovr&amp;hashtags=#myklovr#worryless" target="_blank">
                                <img src="/img/twitter.png" alt="Twitter" />
                            </a>
                          <a href="mailto:?Subject=Checkout this startup!&amp;Body=I%20saw%20this%20and%20thought%20you%20might%20want%20to%20try%20winning%20this%20VR%20headset%20with%20me!%20  http://www.myklovr.com">
                                <img src="/img/mail.png" class='shareButtons' id='mail' />
                            </a>
                 
                    </div>


                    <h2 class='successModalSub'>this contest with your friends and family.</h2></div> -->
                    <div id="successButtonsCont">
              
                        <a class="btn btn-xl signupButton" href="http://www.myklovr.com" target="_blank" id='newModalButtonBlog'>Cool!</a>
                    </div>
              </div>
            </div>
          </div>
        </div>




    </div>




  

    <!-- <div class="container">

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div>       -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery/jquery.min.js"><\/script>')</script>

    <script src="js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
    <script src="js/sweeps.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

    </body>
</html>
