#sidenavtrig{
    display: none;
    position: fixed;
    left: 3vw;
    z-index: 1;
}
#sidenavtrig2{
    
    position: fixed;
    top: 3vh;
    left: 3vw;
    z-index: 1;
}
#hamsvg{
    height:4vmin;
    width: 4vmin
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 20000
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vmin;
    display: block;
    color: #818181;
    font-family: "Lato";
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.fixed{
	position: fixed;
	top: 0;
	z-index: 2;
}
.menuCont{
	height: 50px;
	background-color: #3f3e65;
	color: white;
	width: 100%;

}

.menuContMobile{
	height: 50px;
	background-color: #3f3e65;
	color: white;
	width: 100%;


}

.menuContMobile .menu{
	position: fixed;
	top: 0;
	z-index: 2;
}

#mobileNav{
	display: none;
}

.menu{
	height: 50px;
	background-color: #3f3e65;
	color: white;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navLogo{
	height: 35px;
	width: auto;
}

.menu a{
	color: white;
	text-decoration: none;
	font-family: "Avenir"
}

.menu .signUpForm{
	display: inline-flex;
	align-items: center;
}
.menu .signUpForm input{
	width: initial;
		font-family: "Avenir";
	height: 20px;
	font-size: 18px;
	margin-bottom: 0;
}

.menu .signUpForm button{
	width: auto;
	line-height: 0;
	height: 20px;
	font-family: "Avenir";
	font-variant: small-caps;
	font-size: 18px;
	margin-bottom: 0;
	border-radius: 4px;
	margin-top: 0;
	margin-left: 1vw;

}

#navBarImg{
	height: 100%;
}
