  

*{
    /*font-family: "Raleway", sans-serif !important;*/
  
    font-size: 12pt;
}




html{
    width:100%;
 }
body{
    height: 100%;
    width:100%;
    /*font-size: 100%;*/
}

#a{
    min-height: 100vh;
}

#firstslidebox{
    background: #3c3d65;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 100vw;
}

#firstpgcontainer{
    display:flex;
    align-items: center;
}

#imgcontainer1{
   display: flex;
   justify-content: center;
}

#pg1logo{
    max-width: 100%;
}

#introhead{
    color: #f2d040;
    text-align: center;
    font-size: 3em;
    font-family: "Raleway", sans-serif !important;
  
}

#introhead2{
    color: #f2d040;
    text-align: right;
    font-size: 3em;
    font-family: "Raleway", sans-serif !important;
    /*text-transform: none !important;*/
  
}

#introsub{
    text-align: center;
    color: white;
    margin-bottom: 24px;
    /*text-transform: none !important;*/
}

footer{
    background-color: #3c3d65;
}

footer h4{
    text-align: center;
    color:#f2d040 !important;
    background-color: #3c3d65;
    text-transform: none !important;
}

label{
    color:#f2d040;
}

#formField1{
    display: flex;
    justify-content: center;
}

#submitButton1{
    width: 100%;
    display: flex;
    justify-content: center;
}

#submitButton1 button{
    color:#3c3d65;
}

#signupdiv{

}

#newModalBody{
    background: #44a2d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#newModalTitle{
    color:#3c3d65;
    color:white;
    font-size: 3em;
}
#newModalSub{
    color:#f2d040;
}
#newModalText{
    color:white;
}
#newModalSubText{
    color: #f2d040;
}
#newModalButton{
    color:#3c3d65;
}
#newModalButtonBlog{
     color:#3c3d65;
}
#newModalButtonsCont{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*Section 2*/

#firstpgcontainerrow{
    min-width: 100vw;
    padding: 20px;
  
}
#secondpgtitlerow{
      display: flex;
    justify-content: center;
     min-width: 100vw;
    padding: 20px;

}
.sectionMain{
  
    width: 100%;
    height: 3000px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
#section2{
    width:100%;
      background: #44a2d9;
      padding-right: 0;
      padding-left: 0;
}
#section3{
    background: white;
}
#triangleContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: flex-start;
}
.aboutUs{
    /*margin-top: 5%;*/
    background: #f2d040;
    color: #3c3d65; 
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);
    -moz-box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);
    box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);    
}
.aboutUs h1{
    font-size: 9vw;
}
#aboutUsText{
    font-weight: 700;
    padding: 20px;
    text-align: left;
}
#aboutUsText p{
    margin-bottom: 0px;
}
#aboutUsText2{
    background: #3c3d65;
    color:white;
    font-weight: 600;
    padding: 20px;
    text-align: right;
}
#aboutUsText2 p{
    margin-bottom: 0px;
}
#triangledown1{
}
#secondpgcontainerrow{
      padding: 20px;
}
#ourMissionStatement{
    text-align: center;
    width: 100vw;
    position: relative;
    right: -100%;
    margin-top: 5vh;
}
#secondpgcontentrow{
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
}
.secondpgcontent{
     /*color: #f2d040;*/
     color:white;
     font-size: 12px;
     font-family: 'Josefin Slab', serif;
    /*background: #3c3d65; */

    /*border-radius: 12px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);
    -moz-box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);
    box-shadow: 3px 3px 7px 0px rgba(82,79,82,1);    */

}

.bigr{
    font-family: 'Amatic SC', cursive;
    line-height: 90%;
    text-align: center;
    font-size: 9vw;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 5vh;*/
    position: relative;
}

#secondpgcontent1{
    /*width: 20vw;*/
    left: -100%;
}
#bodyrow{
    display: block;

}
#bodyrow2{
    display: flex;
    justify-content: center;
}
#secondpgcontent1a{
    width: 100vw;
    right: -100%;
    /*margin-top: 3vh;*/
    position: relative;
}
#secondpgcontent1b{
    left: -100%;
    width: 100vw;
    /*position: absolute;*/
}

#questionLines{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;   
}

#qlleftsvg{
    position:absolute;
    width: 50%;
    height: 3%;
/*    left: -100%*/;
}
#qlrightsvg{
    position:absolute;
    width: 50%;
    height: 3%;
    /*right: -100%;*/
}
#qlleftsvgb{
    position:absolute;
    width: 50%;
    height: 3%;
    background-color: white;
    /*left: -100vw;*/
}

#qlrightsvgb{
    position:absolute;
    width: 50%;
    height: 3%;
    background-color: white;
    right: -100vw;
}
#qlleft{
}
#qlcirc{
    fill:white;
    width:0%;
    height:0%;    
    /*z-index: 1;*/
}
#qlqmark{

}
#qlright{

    height: 8vh;

}


#toolsicons{
    display: flex;
    justify-content: space-around;
    height: 20vw;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 5vh;*/
    /*position: static;*/
}

.toolsvgs{
    height:20vw;
    width:20vw;
    max-height: 20vh;

    
     
}
#controw2{
    /*margin-top: 0vh;*/
}

#svgrow{
    margin-top: 3vh;
    height: 0vh;
    transform: scale(0);
    overflow: hidden;
    /*opacity: 0;*/
}

#controw3{
    /*position: absolute;*/
    /*height: 20vh;*/

}

#controw4{
    /*margin-top: 1vh;*/
    position: absolute;
    /*margin-bottom: 50vh;*/

}
#missioncont{
    height: 100vh;
      width:100vw;
      margin-bottom: 50vh;
    display: block;
    /*margin-bottom: 20vh;*/
}
#controw5{
    /*position:absolute;*/
    background-color: #44a2d9; 
    width:100vw;
    height:100vh;
    margin-bottom: 30vh;
    text-align: center;
    border-top: 14px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#controw5text{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 2vw;
    padding-top: 0;
    max-height: 30vh;
}
.testsvgblue{
    /*fill:white;*/
}

#tododiv{
    /*display: inline-block;*/
}
#secondpgcontent2{
    text-align: left;
    /*display: inline-block;*/
   /* width: auto;
    max-width: 40%
    margin-top: 5vh;*/
    /*display: inline-block;*/
}
#secondpgcontent2a{
    text-align: right;
    /*display: inline-block;
    width: 40%
    margin-top: 5vh;*/
}

.smlr{
    font-family: 'Amatic SC', cursive;
    line-height: 90%;
    text-align: center;
    font-size: 9vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: 100%;


    /*margin-top: 5vh;*/
    /*position: relative;*/
}


.svgarrow{

}

#svgscrib2{
    stroke-dasharray:172.48553466796875;
    stroke-dashoffset:172.48553466796875;

}

#svgscrib1{
      stroke-dasharray:191.69161987304688;
    stroke-dashoffset:191.69161987304688;

}

#svgscrib3{
     stroke-dasharray:191.69161987304688;
    stroke-dashoffset:191.69161987304688;

}

#controw6{
    /*position:absolute;*/
    background-color: #44a2d9;

    width:100vw;
    height:100%;
    min-height:100vh;
    text-align: center;
    border-top: 14px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /*align-items: space-around;*/
}
#controw6text{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 2vw;
    max-height: 30vh;
}

#crtxt1a{
    /*font-size: 6vw;*/

}

.cr6svgs{
    height: 36vmin;
    width: 36vmin;
}

.cr6txt{
    display: inline-block;
    margin-right: 3vw;
    margin-left: 0;
    /*font-size: 6vw;*/
}
.cr6img{
    display: inline-block;
    margin-left: 3vw;
}

#secondpgcontent3{
    margin-bottom: 0vh;
    margin-top: 5vh;
}

.cr3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

#controw7{
    background-color: #44a2d9;
    width:100vw;
    height:100%;
    position: absolute;
    /*max-height:100vh;*/
    /*position: absolute;*/
    text-align: center;
    border-top: 14px solid white;
    /*display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;*/
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

}

#secondpgcontent4{
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*max-height: 20vh;*/
    position:relative;
    font-size: 9vh;
    flex:1;
}

#secondpgcontent5{
    margin-top: 5vh;
    margin-bottom: 5vh;
  

    
    /*max-height: 20vh;*/
    font-size: 9vh;
    

}


#row7svgdiv{
    flex:2;
    width:90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row7svg{
    flex:1;
    width:30%;
    /*height: 30%;*/
}

.cr7svgs{
 /*   max-height: 20vmin;
    max-width: 20vmin;*/
    width: 100%;
    flex: 1;
}

.cr7img{
    /*flex: 1;*/

}

#controw8{
    background-color: #44a2d9;
    position: absolute;
    width:100vw;
    height:100vh;
    text-align: center;
    border-top: 14px solid white;
    /*display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;*/
    right: -100%;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

}

#pinContainer{
    width:100vw;
    height:500vh;
    overflow:hidden;
}

#barsvg{
    width:20vw;
}

#barsvgy1{
     stroke-dasharray:123.169;
    stroke-dashoffset:123.169;
}
#barsvgy2{
     stroke-dasharray:245.058;
    stroke-dashoffset:245.058;
}
#barsvgy2{
     stroke-dasharray:369.18;
    stroke-dashoffset:369.18;
}


#barsvgp1{
     stroke-dasharray:123.169;
    stroke-dashoffset:123.169;
}
#barsvgp2{
     stroke-dasharray:245.058;
    stroke-dashoffset:245.058;
}
#barsvgp2{
     stroke-dasharray:369.18;
    stroke-dashoffset:369.18;
}
.barsvgpurple{

}
   
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

/*
#section2special{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}*/




























  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

 


 .intro-heading {
    color: #FFA500 !important;
    font-size: 30px !important;
 }

 .signup {
    color: #FFA500 !important;
    font-size: 15px !important;
 }

 .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }

#navLogo{
    height:20%;
    width: 20%;
}
 .navbar-brand {
   /* width: 60%;
    height:60%;
*/ /*   margin-top: -20px !important;
    margin-bottom: 40px !important;*/
    /*margin-left: 50px !important;*/
}

/*p {
    font-size: 16px;
    color: #FFA500;
}
*/


.placeholder {
    color: #FFA500 !important;
}

.formback {
    width: 100%;
    height: 300px;
}  



.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10vh; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }




@media only screen and (max-width: 768px) { 
    #pg1logo{
    max-height: 29vh;
    }

    #introhead{
    text-align: center !important;
     /*font-size: 24px*/

    }   

    #introsub{
    text-align: center !important;

    }
    #aboutUsText{
        margin-top: 20px;
    }

    #secondpgcontent1{
        /*width:80%;*/
    }

    #row7svgdiv{
    /*flex-grow: 1;*/
    width:90vw;
   
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    }




    #secondpgcontent4{

    font-size: 6vh;
    
}


   

 }