

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #44a2d9;
	 /*background-cEolor: #3c3d65;*/
}

.jumbotron{
	margin-top: 5vh;
	color: #3c3d65;
}


#navContainer{

	 background-color: #3c3d65;
}











