@media only screen and (max-width:401px){
	
	.slide1Cont{
		flex-direction: column;
	}
}

@media only screen and (max-width:500px){
	.hhMain{
		flex-flow: row wrap;
	}

	.hhCont{
		flex-basis: 50%;
	}

}

@media only screen and (max-width:640px){

	.mainText{
		width:70%;
	}
	.iphoneCont{
		flex-direction: column;
		align-items: center;
	}
	.iphoneCont2{
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width:700px){
	.hhLabel{
		font-size: 3.5vmin;
	}
}