
*{
	font-family: "Josefin Sans";
	box-sizing: border-box;
	font-size: 2vmin;
}

html{
	width: 100vw;
}
body{
	width: 100vw;
}

@font-face{
	font-family: "Josefin Sans";
	src: url("../css/"font/JosefinSans-Regular.ttf);
}
@font-face{
	font-family: "Lato";
	src: url("../css/font/Lato-Regular.ttf");
}

#sidenavtrig {
    display: inline;
    position: fixed;
    top: 3vh;
    left: 3vw;
    z-index: 1090

}
#pstDiv{
/*    display: inline-block;*/
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
 {
    #pstDiv{
        display: block;
    }
    /* Styles */
}        
#homeButton {
    display: inline;
    position: fixed;
    top: 3vh;
    left: 93vw;
    z-index: 1090
}
#homeLogo {
    height: 5vmin;
    width: 5vmin
}
#hamsvg {
    height: 4vmin;
    width: 4vmin
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 20000
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vmin;
    display: block;
    color: #818181;
    font-family: "Lato";
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}



#main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: auto;
	background-color: #3c3d65;
	/*height: 100vh;*/
	

}

#headingContainer{
	width: 100vw;
	padding-left: 10vw;
	padding-right: 10vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #3c3d65;
	color: white;
	




}
	#headingLogoContainer{
		margin-top: 5vh;


	}

	#headingLogo{
		width: 20vmin;
		height: 20vmin;
	}
	#headingContentContainer{
		font-family: "Josefin Sans";
		text-align: center;
		font-size: 8vmin;
		margin-bottom: 2vh;

	}

	underline{
		text-decoration: underline;
	}


	.planScrollContainer{
		width: 100vw;
		padding:0vh 5vw;
	
		margin-bottom: 2vh;
		display: none;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: #3c3d65;
	}
	.planScroll{
		width: 20vw;
		height: 20vw;
		font-size: 4vw;
		font-family: "Lato";
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		border: 1px solid black;
		text-align: center;
		border-radius: 10px;
		background:white;
		color: #3c3d65;

	

	}

	.planScroll:hover{
		background-color: #f2d040;
		-webkit-box-shadow: 2px 1px 3px 0px rgba(107,107,107,1);
		-moz-box-shadow: 2px 1px 3px 0px rgba(107,107,107,1);
		box-shadow: 2px 1px 3px 0px rgba(107,107,107,1);

	}
#planContainer{
	/*width: 80vw;*/
	height: auto;
	display: flex;
	flex-direction: row;
	 width: 100vw;
    padding: 0 5vw;

	justify-content: space-around;
	margin-bottom: 10vh;
	background-color: #3c3d65;

}
	.type{
		height: 110%;
		display: flex;
		background-color: white;
		color: #3c3d65;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		width: 25%;
		margin: 0 .5vw;
		border-radius: 10px;
		-webkit-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
		/*-webkit-transition-delay: .3s;
  	 	transition-delay: .3s;*/
		-webkit-backface-visibility: hidden;


	}


		

		.top{
			width: 100%;
			color: #3c3d65;
			font-family: "Lato";
			font-size: 150%;
			margin-bottom: 5vh;
			border-top: 1px solid black;
			border-radius: 10px;
	
			background-color: white;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			padding: 1vh 1vh;
			padding-bottom: 2vh;
			-webkit-transition: border 0.3s ease;
			transition: border 0.3s ease;

		/*	-webkit-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;*/
	/*		-webkit-transition-delay: .3s; 
    		transition-delay: .3s;*/
    		-webkit-backface-visibility: hidden;



			/*margin-left: 3vw;*/
			/*margin-right: 3vw;*/
		}


		.selected{
			position: relative;
			background-color: white;
			z-index: 2;
			flex-basis: 50%;


			-webkit-box-shadow: 0px 5px 10px 4px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px 5px 10px 4px rgba(50, 50, 50, 0.75);
			box-shadow:         0px 5px 10px 4px rgba(50, 50, 50, 0.75);

			font-size: 120%;
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			-webkit-backface-visibility: hidden;
			/*line-height: 100%;*/


		}
			.selected span{
				line-height: 95%
			}

			.selected .bottom{
				font-size: 100%
			}

		.isSelected{
			border:0;
		}

		.notSelected{
			opacity: .5
		}

			#t3{
				top: -3px;

			}

			#t1{
				top: -3px;
			}

			#t2{
				top: -3px;
			}

			#t4{
				top:-3px;
			}

			.top div{
				margin-top: 2vh;
				display: flex;
				justify-content: center;
				align-items: center;
				/*flex-direction: column;*/
				/*height: 20%;*/
				/*display:block;*/

			}

			.top div.title{
				margin-top: 2vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			h3{
				font-size: 3vmin;
			}

			.topInner{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

			}
			.top div.cost{

			}
			.top div.upgrade{
				/*height: 10%*/

			}
			.top div.signUpDiv{
				margin-bottom: 0vh;
				height: 11vmin;
			}

				.signUpButton{
					padding: 3vmin;
					background-color: #f2d040;
					border-radius: 10px;
					font-family: "Lato";
					font-weight: bold;
					font-size:3vmin;
					width: 100%
				}
			#longCost{
				font-size: 2.5vmin;
			}
			
		.bottom{
			background-color: white;
			color: #3c3d65;
			font-family: "Josefin Sans";
			/*border-radius: 10px;*/
			font-size: 2.5vmin;
			width: 100%;
			padding:0 1vmin;
			border-bottom: 1px solid black;
			border-radius: 10px;
			/*height: 50vmin;*/
			/*border: 1px solid black;*/
		/*	margin-left: 3vw;
			margin-right: 3vw;*/

		}

		td {
			padding:.5vmin;
		}

		.tableIcon{
			width: 3vmin;
			height: 3vmin;
		}

		




		footer {
		    background-color: #3c3d65
		}
		footer h4 {
		    text-align: center;
		    color: #f2d040 !important;
		    background-color: #3c3d65;
		    text-transform: none !important
		}
		label {
		    color: #f2d040
		}


		#footerdiv {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    height: 100%;
		    font-size: 4vmin;
		    color: white;
		    padding-top: 5vh;
		    padding-bottom: 5vh;
		    text-align: center;
		    font-family: 'Josefin Slab', serif
		}
		#footerLogo {
		    width: 10vmin;
		    height: auto;
		    margin-bottom: 2vh
		}
		footer p {
		    font-size: 3vmin;
		    line-height: 1;
		    font-family: "lato";
		    margin-bottom: 1vmin
		}
		footer a {
		    font-size: 1.5vmin;
		    color: white
		}
		#footerlinks p {
		    font-size: 1.5vmin
		}
		#footercontent {
		    font-size: 2vmin;
		    line-height: 1.75;
		    font-family: "lato"
		}
		#footerlinks {
		}
		#socialicons {
		    display: flex;
		    justify-content: space-around;
		    align-items: center
		}
		#socialicons a {
		    opacity: .65
		}
		#socialicons a:hover {
		    opacity: 1
		}
		#socialicons img {
		    width: 8vmin;
		    height: auto
		}














